
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>list</title>
</head>
<body>

<p>제목: <%= article.subject %></p><br>
<p>내용: <%= article.content %></p><br>
<% if(article.fileOriginName) { %>
<p>첨부파일 : <a href="/download?index=<%= num%>"><%= article.fileOriginName%></a></p>
<% }%>
         <a href='/list?page=<%= pageNum%>'>목록으로 돌아가기</a>
</body></html>
